{% extends 'base.html' %}

{% block content %}
{% comment %} <p>Enter your Movie:</p>
    <input type="text" list="movielist" Placeholder="Search Movie.." class="form-control" style="width:400px;">
    <datalist id="movielist">
 {% for results in showmovie %}
        <option value="{{ results.title}}">
 {% endfor %}
    </datalist>
<br></br>
    <p><a href="{% url 'movies:index' %}">Movies</a></p>{% endcomment %}

<p><b>Website and Report Creator/Owner:</b>  Michelle Roufail, Toronto ON</p>

<p>This portfolio contains Power BI report samples developed after the following training: Power BI Master Class - Dashboards and Power BI Service 2023.  In April 2023, I became Power BI certified by successfully passing exam:<b> Microsoft Certification Exam </i>Power BI Data Analyst (PL-300)</i></b></p>
<p><link href="https://media.licdn.com/dms/image/D562DAQE8xUa2dmJb0A/profile-treasury-image-shrink_1920_1920/0/1682961561749?e=1683568800&v=beta&t=Fcpd1-vXfkhmaJw81Qe6Ksrra6Yzf2vrWAafUSDtWTE"> </p>
{% comment %}
<p>
<img src="../staticfiles/admin/img/PowerBI_CertificationImage.png" alt="Power BI Certification" width="550" height="450">
</p>
{% endcomment %}
<p><b>Sales Report Examples:</b></p>

    <iframe title="Sales_Report_CourseTraining" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiYTZmOThmYjktYWYxZC00OGU3LWFjZDMtMmU5NzE3MTgyODYxIiwidCI6IjZjYTQ1YWYxLTViMTMtNDNlNi05OWI2LTJlZDRjYTcyNzRiNSJ9" frameborder="0" allowFullScreen="true"></iframe>
     &nbsp;&nbsp;&nbsp;&nbsp;
    <iframe title="Sales_Report2_CourseTraining" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiODUzZDgxOWEtMWRiNS00MmUzLThjOWQtN2FkNGZiYjE3ZTYwIiwidCI6IjZjYTQ1YWYxLTViMTMtNDNlNi05OWI2LTJlZDRjYTcyNzRiNSJ9" frameborder="0" allowFullScreen="true"></iframe>
<br><br>
<p><b>Covid Report Examples (automated to run nightly against WHO website):</b></p>
    <iframe title="Report Section" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiODRmMDA3NjItN2Y1OS00MjZlLThkMGQtOTM0YjRjMmFhYTA3IiwidCI6IjZjYTQ1YWYxLTViMTMtNDNlNi05OWI2LTJlZDRjYTcyNzRiNSJ9" frameborder="0" allowFullScreen="true"></iframe>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <iframe title="Report Section" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMDNhZjE3YmUtYTM4ZS00YWJmLWI4ZmQtZjVkOGQ4NTAxZDg1IiwidCI6IjZjYTQ1YWYxLTViMTMtNDNlNi05OWI2LTJlZDRjYTcyNzRiNSJ9" frameborder="0" allowFullScreen="true"></iframe>

{% endblock %}